server {
    listen                    10.11.6.3:3030
    server_name server_1.com
    error_page 404 '/Users/hnaciri-/Desktop/webserv/error_pages/404.html';
    error_page 400 '/Users/hnaciri-/Desktop/webserv/error_pages/400.html';
    max_client_body_size 2000
    location /test {
        allow_methods GET POST;
        autoindex on;
        root '/Users/hnaciri-/Desktop/webserv/public/';
        index index.html index1.html
    }
}

